/*primary color: #007bff*/

/*secondary color: #dc3545*/

:root{
    --green:#28a745;
    --yellow:#ffc107;
    --blue:#007bff;
    --orange:#fd7e14;
    --red:#dc3545;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin:0 0 1rem;
}
body {
    display: flex;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f5f5f5;
    min-height: 100vh;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--blue);
    padding: 1rem 0;
    border-bottom: 1px dotted #ccc;
    display: inline-block;
}

nav ul li a.active {
    color: var(--red);
}

main {
    flex: 4;
}

main h1 {
    color: var(--blue);
    font-weight: 600;
}

main .page-content {
    padding: 2rem 2rem 0;
    min-height: calc( 100vh - 59px)
}

footer {
    padding: 0 2rem
}

main footer p {
    margin: 0;
    color: #666;
    font-size: 0.8rem;
    padding: 1rem 0;
}

main footer hr {
    margin: 0;
}

main .text-box {
    padding: 1rem 2rem;
    background: #f5f5f5;
}

main h1 {
    font-size: 2.5rem;
}

main .text-box h2 {
    font-weight: 300;
    font-size: 2rem;
    margin: 0 0 1rem;
}

main .text-box p {
    font-size: 1.3rem;
    font-weight: 300;
}

main .text-box strong {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.image-circle {
    width: 150px;
    height: 150px;
    margin: 1rem auto;
    border-radius: 50%;
    overflow: hidden;
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-initial {
    text-align: initial;
}

.text-initial h3 {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--blue);
    margin:0 0 0.7rem;
}
table{
    width:60%;
    border:1px solid #eaeaea;
    border-collapse:collapse;

}
table th, table td{
    border:1px solid #eaeaea;
    padding:0.5rem 2rem;
    text-align: left;
}
table th{
    background:#f5f5f5;
    width:30%;
}

.gallery-image{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:2rem;
}
.gallery-single{
    width:150px;
    height:150px;
    overflow:hidden;
    margin-right:1rem;
}

.gallery-single img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.quote-box-parent{
    margin:2rem 0;
}
.quote-theme{
    text-align:center;
}
.quote-theme ul{
    list-style:none;
    display:flex;
    padding:0;
    justify-content: center;
}
.quote-theme li{
    width:40px;
    height:40px;
    border:2px solid #ccc;
    margin-right:0.5rem;
    cursor:pointer;
}
.quote-theme li.active{
    border:2px solid #444;
}
.green{
    background:var(--green)!important;
}
.blue{
    background:var(--blue)!important;
}
.orange{
    background:var(--orange)!important;
}
.yellow{
    background:var(--yellow)!important;
    color:#222!important;
}
#quoteMain{
    background:var(--green);
    text-align:center;
    color:white;
    padding:1rem;
    width:80%;
    margin:auto;
}
#quoteMain p{
    margin:0;
    font-size: 1.3rem;
}
input,select,button{
    padding: 0.5rem 1rem;
}